html,
body {
  min-height: 100%;
  height: 1px;
  font-size: 14px;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  height: 35px;
  background-color: #2a3137;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.main_container {
  display: flex;
  height: 1px;
  min-height: calc(100% - 35px);
}
.log_info {
  color: #fff;
  float: right;
  padding: 5px 80px 0 0;
}
.log_info .avatar {
  vertical-align: middle;
}
.log_info:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #89C443 none repeat scroll 0% 0%;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.small_text {
  font-size: 0.7rem;
}
.gray_text {
  color: #ddd;
}
.bold_text {
  font-weight: bold;
}
div.ava {
  width: 36px;
  height: 36px;
  background-color: #f7ca00;
  border: 2px solid white;
  outline: 1px solid #e5e5e5;
}
.comunity_list {
  flex-basis: 300px;
  height: 100%;
  min-width: 300px;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}
.comunity_list .search {
  margin-left: 15px;
  vertical-align: middle;
  padding-left: 20px;
  background-image: url("../img/search_ico.png");
  background-repeat: no-repeat;
  background-position: 0 20px;
  flex-basis: 60px;
}
.comunity_list .search input {
  border: none;
  padding: 20px 0 0 20px;
}
.comunity_list .conf_ico_line {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background: url("../img/comm_ico.png") no-repeat 50% 50% #f0f0f0;
  width: 100%;
  flex-basis: 30px;
}
.comunity_list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  flex-basis: calc(100% - 92px);
}
.comunity_list li {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 55px;
  font-size: 0.9rem;
}
.comunity_list li img {
  vertical-align: middle;
  padding-right: 10px;
}
ul.conv_info {
  display: inline;
}
ul.conv_info li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  border: none;
}
ul.conv_info li p {
  margin: 2px 10px;
  font-size: 0.9rem;
}
ul.conv_info li.time {
  float: right;
  margin-right: 10px;
  font-size: 0.8rem;
  color: #8c8c8c ;
}
.conference_area {
  flex-grow: 2;
  float: left;
  height: 1px;
  min-height: 100%;
}
.conference_header {
  background: linear-gradient(to top, #f3f3f3, #fff);
  border-bottom: 1px solid #fff;
  padding: 15px 15px 0px;
  height: 75px;
}
.conference_header .ava {
  width: 60px;
  height: 60px;
}
.conference_header .start_button {
  float: right;
}
.conference_header button {
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(to top, #7db33b, #87c241);
  border: 1px solid #5d8a39;
  color: #fff;
  font-size: 0.9rem;
  padding: 0 20px;
  text-shadow: -1px -1px 1px gray;
  margin: 10px 0 0 0;
}
.conference_container {
  border-top: 1px solid #e5e5e5;
  height: calc(100% - 92px);
  display: flex;
  flex-direction: column;
}
.wrap_conf_box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.conf_box {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  overflow-y: hidden;
}
.message_box {
  flex-grow: 2;
  display: flex;
  overflow-y: auto;
  background: url("../img/lite_dott_bg.png") repeat;
  border-bottom: 1px solid #dddddd;
}
.message_box .wrap_mess_box {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  align-items: center;
}
.message_box .message {
  width: calc(100% - 20px);
  max-width: 640px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto;
  padding: 15px;
  flex: 0 0 auto;
}
.message_box .message h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}
.message_box .message h3,
.message_box .message p,
.message_box .message span {
  padding-left: 50px;
}
.message_box .message span {
  font-size: 0.8rem;
  color: #dddddd;
  display: block;
}
.message_box .message p {
  font-size: 0.9rem;
}
.partisipant_list {
  flex-basis: 295px;
  max-width: 295px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  font-size: 0.9rem;
  padding: 20px 0px 0px 20px;
  margin: 0;
  display: flex;
}
.partisipant_list.hidden {
  flex-basis: 0;
  padding: 0 0 0 20px;
}
.partisipant_list .collapse {
  width: 20px;
  margin: auto 0 auto -20px;
  height: 30px;
}
.partisipant_list .collapse.deploy {
  margin: auto 0 auto -20px;
  transform: rotate(180deg);
}
.partisipant_list .collapse_arrow {
  position: relative;
  height: 100%;
  width: 8px;
}
.partisipant_list .collapse_arrow:after,
.partisipant_list .collapse_arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.partisipant_list .collapse_arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 3px;
  margin-top: -3px;
}
.partisipant_list .collapse_arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #999ea2;
  border-width: 6px;
  margin-top: -6px;
}
.partisipant_list div.list {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.partisipant_list div.list.hidden {
  display: none;
}
.partisipant_list h2 {
  font-weight: bold;
  border-bottom: 1px solid  #dddddd;
  padding: 0 0 15px 15px;
  font-size: 0.9rem;
  margin: 10px 18px 0 0;
}
.partisipant_list p {
  color: #dddddd;
  padding: 0 0 0 15px;
}
.partisipant_list ul {
  overflow-y: auto;
  flex-basis: 100%;
}
.partisipant_list li {
  padding: 5px 15px;
}
.message_typeline {
  background-color: #f0f0f0;
  border-top: 1px solid #fff;
  padding: 10px 0;
  flex: 1 0 auto;
}
.message_typeline .type_line {
  width: 640px;
  border: 1px solid #dadada;
  display: flex;
  background-color: #fff;
  margin: auto;
  padding: 5px;
  float: none;
}
.message_typeline .type_line .input {
  border: none;
  flex: 0 0 530px;
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
}
.message_typeline .type_line ul {
  align-self: center;
  display: flex;
  flex: 1 0 100px;
  justify-content: space-around;
}
.message_typeline .type_line ul li {
  display: inline;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.attache_ico {
  background-image: url(../img/sprite-index.png);
  background-position: -78px 0px;
  width: 19px;
  height: 19px;
}
.smile_ico {
  background-image: url(../img/sprite-index.png);
  background-position: -39px -39px;
  width: 19px;
  height: 19px;
}
.type_ico {
  background-image: url(../img/sprite-index.png);
  background-position: 0px -78px;
  width: 19px;
  height: 19px;
}
