footer {
    height: 277px;
    margin-top: -277px;
    background-color: #293036;
    border-top: 1px solid #000;
}

figure {
    figcaption {
        display: inline;
    }
}

footer .bottom_menu, .info_social{
    margin:0 57px;
    padding: 20px 0;
    li{
        display: inline-block;
    }
}

footer .info_social{
    padding: 50px 0;
    border-bottom: 1px solid #363d43;
    a {
        line-height: 23px;
    }
}
footer .bottom_menu{
   color: #63666d;
    li {
        vertical-align: bottom;
    }
    a {
        line-height: 23px;
        color: #63666d;
        padding: 0 0 0 10px;
        border-left: 1px solid #63666d;
    }
    .menu {
        float: right;
        ul {
            padding-top: 25px;
            :first-child a{
                border-left: none;
            }
        }
    }
}

footer ul.social {
    display: inherit;
    float: right;
    clear: right;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
    }
}

.social li a {
    display: inline-block;
}

@media screen and (max-width: 845px) {
    footer .bottom_menu {
        .menu {
            display: block;
            text-align: center;
            float: none;
        }
    }
}