footer {
  height: 277px;
  margin-top: -277px;
  background-color: #293036;
  border-top: 1px solid #000;
}
figure figcaption {
  display: inline;
}
footer .bottom_menu,
.info_social {
  margin: 0 57px;
  padding: 20px 0;
}
footer .bottom_menu li,
.info_social li {
  display: inline-block;
}
footer .info_social {
  padding: 50px 0;
  border-bottom: 1px solid #363d43;
}
footer .info_social a {
  line-height: 23px;
}
footer .bottom_menu {
  color: #63666d;
}
footer .bottom_menu li {
  vertical-align: bottom;
}
footer .bottom_menu a {
  line-height: 23px;
  color: #63666d;
  padding: 0 0 0 10px;
  border-left: 1px solid #63666d;
}
footer .bottom_menu .menu {
  float: right;
}
footer .bottom_menu .menu ul {
  padding-top: 25px;
}
footer .bottom_menu .menu ul :first-child a {
  border-left: none;
}
footer ul.social {
  display: inherit;
  float: right;
  clear: right;
  margin: 0;
  padding: 0;
}
footer ul.social li {
  display: inline-block;
}
.social li a {
  display: inline-block;
}
@media screen and (max-width: 845px) {
  footer .bottom_menu .menu {
    display: block;
    text-align: center;
    float: none;
  }
}
