.main_container {
  height: 100%;
  margin-top: -40px;
  padding-top: 0;
  min-height: 700px;
}
.log_form {
  padding-top: 105px;
  margin: auto;
  width: 250px;
}
.log_form h2 {
  font-family: Arial;
  color: #747975;
  font-weight: 100;
  font-size: 24px;
}
.log_form input[type='text'],
.log_form input[type='password'] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #dddddd;
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  font-weight: bold;
  box-sizing: border-box;
}
.log_form input[type='text'].notValid,
.log_form input[type='password'].notValid {
  border: 1px solid red;
  height: 30px;
}
.log_form button {
  border: 1px solid #629628;
  border-radius: 2px;
  background: linear-gradient(to top, #80bc42, #8ec148);
  width: 100%;
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  height: 30px;
}
.log_form span {
  color: #757e7d;
  font-weight: bold;
}
.log_form p {
  color: #b5b5b5;
  padding-left: 30px;
  margin: 0 0 10px ;
}
.log_form input[type=checkbox] {
  opacity: 0;
  margin-left: -15px;
}
.log_form .squaredThree {
  margin: 20px 0 0;
  position: relative;
}
.log_form .squaredThree span {
  margin-left: 30px;
}
.log_form .squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid gray;
}
.log_form .squaredThree label:after {
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 2px solid gray;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.log_form .squaredThree label:hover::after {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.log_form .squaredThree input[type=checkbox]:checked + label:after {
  filter: alpha(opacity=100);
  opacity: 1;
}
.log_form .sended {
  display: none;
}
.log_form .sended.visible {
  display: block;
}
