/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@fb-name: 'fb';
@fb-x: 258px;
@fb-y: 0px;
@fb-offset-x: -258px;
@fb-offset-y: 0px;
@fb-width: 23px;
@fb-height: 23px;
@fb-total-width: 281px;
@fb-total-height: 281px;
@fb-image: '../img/sprite.png';
@fb: 258px 0px -258px 0px 23px 23px 281px 281px '../img/sprite.png' 'fb';
@gg-name: 'gg';
@gg-x: 215px;
@gg-y: 43px;
@gg-offset-x: -215px;
@gg-offset-y: -43px;
@gg-width: 23px;
@gg-height: 23px;
@gg-total-width: 281px;
@gg-total-height: 281px;
@gg-image: '../img/sprite.png';
@gg: 215px 43px -215px -43px 23px 23px 281px 281px '../img/sprite.png' 'gg';
@in-name: 'in';
@in-x: 172px;
@in-y: 86px;
@in-offset-x: -172px;
@in-offset-y: -86px;
@in-width: 23px;
@in-height: 23px;
@in-total-width: 281px;
@in-total-height: 281px;
@in-image: '../img/sprite.png';
@in: 172px 86px -172px -86px 23px 23px 281px 281px '../img/sprite.png' 'in';
@mz-name: 'mz';
@mz-x: 129px;
@mz-y: 129px;
@mz-offset-x: -129px;
@mz-offset-y: -129px;
@mz-width: 23px;
@mz-height: 23px;
@mz-total-width: 281px;
@mz-total-height: 281px;
@mz-image: '../img/sprite.png';
@mz: 129px 129px -129px -129px 23px 23px 281px 281px '../img/sprite.png' 'mz';
@rr-name: 'rr';
@rr-x: 86px;
@rr-y: 172px;
@rr-offset-x: -86px;
@rr-offset-y: -172px;
@rr-width: 23px;
@rr-height: 23px;
@rr-total-width: 281px;
@rr-total-height: 281px;
@rr-image: '../img/sprite.png';
@rr: 86px 172px -86px -172px 23px 23px 281px 281px '../img/sprite.png' 'rr';
@tw-name: 'tw';
@tw-x: 43px;
@tw-y: 215px;
@tw-offset-x: -43px;
@tw-offset-y: -215px;
@tw-width: 23px;
@tw-height: 23px;
@tw-total-width: 281px;
@tw-total-height: 281px;
@tw-image: '../img/sprite.png';
@tw: 43px 215px -43px -215px 23px 23px 281px 281px '../img/sprite.png' 'tw';
@yt-name: 'yt';
@yt-x: 0px;
@yt-y: 258px;
@yt-offset-x: 0px;
@yt-offset-y: -258px;
@yt-width: 23px;
@yt-height: 23px;
@yt-total-width: 281px;
@yt-total-height: 281px;
@yt-image: '../img/sprite.png';
@yt: 0px 258px 0px -258px 23px 23px 281px 281px '../img/sprite.png' 'yt';
@spritesheet-width: 281px;
@spritesheet-height: 281px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @fb @gg @in @mz @rr @tw @yt;
@spritesheet: 281px 281px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
.sprites(@spritesheet-sprites);

