/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.fb {
  background-image: url(../img/sprite.png);
  background-position: -258px 0px;
  width: 23px;
  height: 23px;
}
.gg {
  background-image: url(../img/sprite.png);
  background-position: -215px -43px;
  width: 23px;
  height: 23px;
}
.in {
  background-image: url(../img/sprite.png);
  background-position: -172px -86px;
  width: 23px;
  height: 23px;
}
.mz {
  background-image: url(../img/sprite.png);
  background-position: -129px -129px;
  width: 23px;
  height: 23px;
}
.rr {
  background-image: url(../img/sprite.png);
  background-position: -86px -172px;
  width: 23px;
  height: 23px;
}
.tw {
  background-image: url(../img/sprite.png);
  background-position: -43px -215px;
  width: 23px;
  height: 23px;
}
.yt {
  background-image: url(../img/sprite.png);
  background-position: 0px -258px;
  width: 23px;
  height: 23px;
}
