.comunity_list{
  flex-basis: 300px;
  height: 100%;
  min-width: 300px;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  .search{
    margin-left: 15px;
    vertical-align: middle;
    padding-left: 20px;
    background-image: url("../img/search_ico.png");
    background-repeat: no-repeat;
    background-position: 0 20px;
    flex-basis: 60px;
    input{
      border: none;
      padding: 20px 0 0 20px;
    }
  }
  .conf_ico_line{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: url("../img/comm_ico.png") no-repeat 50% 50% #f0f0f0;
    width: 100%;
    flex-basis: 30px;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    flex-basis: ~"calc(100% - 92px)";
  }
  li{
    border-bottom: 1px solid #e5e5e5;
    padding-left: 15px;
    padding-top: 15px;
    min-height: 55px;
    font-size: 0.9rem;
    img{
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}
ul.conv_info{
  display: inline;
  li{
    padding:0;
    margin: 0;
    float: left;
    display: inline;
    border: none;
    p{
      margin: 2px 10px;
      font-size: 0.9rem;
    }
    &.time{
      float: right;
      margin-right: 10px;
      font-size: 0.8rem;
      color: #8c8c8c ;
    }
  }

}