html, body{
  min-height: 100%;
  height: 1px;
  font-size: 14px;
}
body{
  display: flex;
  flex-direction: column;
}
header{
  height: 35px;
  background-color: #2a3137;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.main_container{
  display: flex;
  height: 1px;
  min-height: ~"calc(100% - 35px)";
}
.log_info{
  color: #fff;
  float: right;
  padding: 5px 80px 0 0;
  .avatar{
    vertical-align: middle;
  }
}
.log_info:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #89C443 none repeat scroll 0% 0%;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.small_text{
  font-size: 0.7rem;
}
.gray_text{
  color: #ddd;
}
.bold_text{
  font-weight: bold;
}
div.ava{
  width: 36px;
  height: 36px;
  background-color: #f7ca00;
  border: 2px solid white;
  outline: 1px solid #e5e5e5;
}

