.comunity_list {
  flex-basis: 300px;
  height: 100%;
  min-width: 300px;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}
.comunity_list .search {
  margin-left: 15px;
  vertical-align: middle;
  padding-left: 20px;
  background-image: url("../img/search_ico.png");
  background-repeat: no-repeat;
  background-position: 0 20px;
  flex-basis: 60px;
}
.comunity_list .search input {
  border: none;
  padding: 20px 0 0 20px;
}
.comunity_list .conf_ico_line {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background: url("../img/comm_ico.png") no-repeat 50% 50% #f0f0f0;
  width: 100%;
  flex-basis: 30px;
}
.comunity_list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  flex-basis: calc(100% - 92px);
}
.comunity_list li {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 55px;
  font-size: 0.9rem;
}
.comunity_list li img {
  vertical-align: middle;
  padding-right: 10px;
}
ul.conv_info {
  display: inline;
}
ul.conv_info li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  border: none;
}
ul.conv_info li p {
  margin: 2px 10px;
  font-size: 0.9rem;
}
ul.conv_info li.time {
  float: right;
  margin-right: 10px;
  font-size: 0.8rem;
  color: #8c8c8c ;
}
