.conference_area {
  flex-grow: 2;
  float: left;
  height: 1px;
  min-height: 100%;
}
.conference_header {
  background: linear-gradient(to top, #f3f3f3, #fff);
  border-bottom: 1px solid #fff;
  padding: 15px 15px 0px;
  height: 75px;
}
.conference_header .ava {
  width: 60px;
  height: 60px;
}
.conference_header .start_button {
  float: right;
}
.conference_header button {
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(to top, #7db33b, #87c241);
  border: 1px solid #5d8a39;
  color: #fff;
  font-size: 0.9rem;
  padding: 0 20px;
  text-shadow: -1px -1px 1px gray;
  margin: 10px 0 0 0;
}
.conference_container {
  border-top: 1px solid #e5e5e5;
  height: calc(100% - 92px);
  display: flex;
  flex-direction: column;
}
.wrap_conf_box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.conf_box {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  overflow-y: hidden;
}
.message_box {
  flex-grow: 2;
  display: flex;
  overflow-y: auto;
  background: url("../img/lite_dott_bg.png") repeat;
  border-bottom: 1px solid #dddddd;
}
.message_box .wrap_mess_box {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  align-items: center;
}
.message_box .message {
  width: calc(100% - 20px);
  max-width: 640px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto;
  padding: 15px;
  flex: 0 0 auto;
}
.message_box .message h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}
.message_box .message h3,
.message_box .message p,
.message_box .message span {
  padding-left: 50px;
}
.message_box .message span {
  font-size: 0.8rem;
  color: #dddddd;
  display: block;
}
.message_box .message p {
  font-size: 0.9rem;
}
