.partisipant_list {
  flex-basis: 295px;
  max-width: 295px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  font-size: 0.9rem;
  padding: 20px 0px 0px 20px;
  margin: 0;
  display: flex;
}
.partisipant_list.hidden {
  flex-basis: 0;
  padding: 0 0 0 20px;
}
.partisipant_list .collapse {
  width: 20px;
  margin: auto 0 auto -20px;
  height: 30px;
}
.partisipant_list .collapse.deploy {
  margin: auto 0 auto -20px;
  transform: rotate(180deg);
}
.partisipant_list .collapse_arrow {
  position: relative;
  height: 100%;
  width: 8px;
}
.partisipant_list .collapse_arrow:after,
.partisipant_list .collapse_arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.partisipant_list .collapse_arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 3px;
  margin-top: -3px;
}
.partisipant_list .collapse_arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #999ea2;
  border-width: 6px;
  margin-top: -6px;
}
.partisipant_list div.list {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.partisipant_list div.list.hidden {
  display: none;
}
.partisipant_list h2 {
  font-weight: bold;
  border-bottom: 1px solid  #dddddd;
  padding: 0 0 15px 15px;
  font-size: 0.9rem;
  margin: 10px 18px 0 0;
}
.partisipant_list p {
  color: #dddddd;
  padding: 0 0 0 15px;
}
.partisipant_list ul {
  overflow-y: auto;
  flex-basis: 100%;
}
.partisipant_list li {
  padding: 5px 15px;
}
