.partisipant_list{
  flex-basis: 295px;
  max-width: 295px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  font-size: 0.9rem;
  padding: 20px 0px 0px 20px;
  margin: 0;
  display: flex;
  &.hidden{
    flex-basis: 0;
    padding: 0 0 0 20px;
  }
 .collapse{
   width:20px;
   margin: auto 0 auto -20px;
   height: 30px;
   &.deploy{
     margin: auto 0 auto -20px;
     transform: rotate(180deg);
   }
 }
 .collapse_arrow{
   position: relative;
   height: 100%;
   width: 8px;
  }
 .collapse_arrow:after, .collapse_arrow:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
 .collapse_arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 3px;
    margin-top: -3px;
  }
 .collapse_arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #999ea2;
    border-width: 6px;
    margin-top: -6px;
  }
 div.list{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    &.hidden{
      display: none;
    }
  }
  h2{
    font-weight: bold;
    border-bottom: 1px solid  #dddddd;
    padding: 0 0 15px 15px;
    font-size: 0.9rem;
    margin: 10px 18px 0 0;
  }
  p{
    color:  #dddddd;
    padding: 0 0 0 15px;
  }
  ul{
    overflow-y: auto;
    flex-basis: 100%;
  }
  li{
      padding: 5px 15px;
  }
}