/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@attache-ico-name: 'attache_ico';
@attache-ico-x: 78px;
@attache-ico-y: 0px;
@attache-ico-offset-x: -78px;
@attache-ico-offset-y: 0px;
@attache-ico-width: 19px;
@attache-ico-height: 19px;
@attache-ico-total-width: 97px;
@attache-ico-total-height: 97px;
@attache-ico-image: '../img/sprite-index.png';
@attache-ico: 78px 0px -78px 0px 19px 19px 97px 97px '../img/sprite-index.png' 'attache_ico';
@smile-ico-name: 'smile_ico';
@smile-ico-x: 39px;
@smile-ico-y: 39px;
@smile-ico-offset-x: -39px;
@smile-ico-offset-y: -39px;
@smile-ico-width: 19px;
@smile-ico-height: 19px;
@smile-ico-total-width: 97px;
@smile-ico-total-height: 97px;
@smile-ico-image: '../img/sprite-index.png';
@smile-ico: 39px 39px -39px -39px 19px 19px 97px 97px '../img/sprite-index.png' 'smile_ico';
@type-ico-name: 'type_ico';
@type-ico-x: 0px;
@type-ico-y: 78px;
@type-ico-offset-x: 0px;
@type-ico-offset-y: -78px;
@type-ico-width: 19px;
@type-ico-height: 19px;
@type-ico-total-width: 97px;
@type-ico-total-height: 97px;
@type-ico-image: '../img/sprite-index.png';
@type-ico: 0px 78px 0px -78px 19px 19px 97px 97px '../img/sprite-index.png' 'type_ico';
@spritesheet-width: 97px;
@spritesheet-height: 97px;
@spritesheet-image: '../img/sprite-index.png';
@spritesheet-sprites: @attache-ico @smile-ico @type-ico;
@spritesheet: 97px 97px '../img/sprite-index.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
.sprites(@spritesheet-sprites);