.message_typeline {
  background-color: #f0f0f0;
  border-top: 1px solid #fff;
  padding: 10px 0;
  flex: 1 0 auto;
}
.message_typeline .type_line {
  width: 640px;
  border: 1px solid #dadada;
  display: flex;
  background-color: #fff;
  margin: auto;
  padding: 5px;
  float: none;
}
.message_typeline .type_line .input {
  border: none;
  flex: 0 0 530px;
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
}
.message_typeline .type_line ul {
  align-self: center;
  display: flex;
  flex: 1 0 100px;
  justify-content: space-around;
}
.message_typeline .type_line ul li {
  display: inline;
}
