/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  line-height: 1.4;
  height: 100%;
  font-family: Arial;
  font-size: 12px;
}
body {
  height: 100%;
  background-image: url("../img/lite_dott_bg.png");
  background-repeat: repeat;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style-type: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
header {
  height: 40px;
  background-color: #293036;
  border-bottom: 1px solid #000;
}
.main_container {
  height: 100%;
  margin-top: -40px;
  padding-top: 0;
  min-height: 700px;
}
.log_form {
  padding-top: 105px;
  margin: auto;
  width: 250px;
}
.log_form h2 {
  font-family: Arial;
  color: #747975;
  font-weight: 100;
  font-size: 24px;
}
.log_form input[type='text'],
.log_form input[type='password'] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #dddddd;
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  font-weight: bold;
  box-sizing: border-box;
}
.log_form input[type='text'].notValid,
.log_form input[type='password'].notValid {
  border: 1px solid red;
  height: 30px;
}
.log_form button {
  border: 1px solid #629628;
  border-radius: 2px;
  background: linear-gradient(to top, #80bc42, #8ec148);
  width: 100%;
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  height: 30px;
}
.log_form span {
  color: #757e7d;
  font-weight: bold;
}
.log_form p {
  color: #b5b5b5;
  padding-left: 30px;
  margin: 0 0 10px ;
}
.log_form input[type=checkbox] {
  opacity: 0;
  margin-left: -15px;
}
.log_form .squaredThree {
  margin: 20px 0 0;
  position: relative;
}
.log_form .squaredThree span {
  margin-left: 30px;
}
.log_form .squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid gray;
}
.log_form .squaredThree label:after {
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 2px solid gray;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.log_form .squaredThree label:hover::after {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.log_form .squaredThree input[type=checkbox]:checked + label:after {
  filter: alpha(opacity=100);
  opacity: 1;
}
.log_form .sended {
  display: none;
}
.log_form .sended.visible {
  display: block;
}
footer {
  height: 277px;
  margin-top: -277px;
  background-color: #293036;
  border-top: 1px solid #000;
}
figure figcaption {
  display: inline;
}
footer .bottom_menu,
.info_social {
  margin: 0 57px;
  padding: 20px 0;
}
footer .bottom_menu li,
.info_social li {
  display: inline-block;
}
footer .info_social {
  padding: 50px 0;
  border-bottom: 1px solid #363d43;
}
footer .info_social a {
  line-height: 23px;
}
footer .bottom_menu {
  color: #63666d;
}
footer .bottom_menu li {
  vertical-align: bottom;
}
footer .bottom_menu a {
  line-height: 23px;
  color: #63666d;
  padding: 0 0 0 10px;
  border-left: 1px solid #63666d;
}
footer .bottom_menu .menu {
  float: right;
}
footer .bottom_menu .menu ul {
  padding-top: 25px;
}
footer .bottom_menu .menu ul :first-child a {
  border-left: none;
}
footer ul.social {
  display: inherit;
  float: right;
  clear: right;
  margin: 0;
  padding: 0;
}
footer ul.social li {
  display: inline-block;
}
.social li a {
  display: inline-block;
}
@media screen and (max-width: 845px) {
  footer .bottom_menu .menu {
    display: block;
    text-align: center;
    float: none;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.fb {
  background-image: url(../img/sprite.png);
  background-position: -258px 0px;
  width: 23px;
  height: 23px;
}
.gg {
  background-image: url(../img/sprite.png);
  background-position: -215px -43px;
  width: 23px;
  height: 23px;
}
.in {
  background-image: url(../img/sprite.png);
  background-position: -172px -86px;
  width: 23px;
  height: 23px;
}
.mz {
  background-image: url(../img/sprite.png);
  background-position: -129px -129px;
  width: 23px;
  height: 23px;
}
.rr {
  background-image: url(../img/sprite.png);
  background-position: -86px -172px;
  width: 23px;
  height: 23px;
}
.tw {
  background-image: url(../img/sprite.png);
  background-position: -43px -215px;
  width: 23px;
  height: 23px;
}
.yt {
  background-image: url(../img/sprite.png);
  background-position: 0px -258px;
  width: 23px;
  height: 23px;
}
